body {
	background:#A6A6A8;
	color:#46494C;
    font-family: 'Indie Flower', cursive;
    background-image: url(image/lyon.jpg
    );
}

h1 {
	color:#46494C;
}

h2 {
	color:#46494C;
}

h3 {
	color:white;
}

.top-description {
	background: white;                         
	padding: 5px;                             
	border-radius: 4px;                        
	box-shadow: 15px 10px 30px rgba(0,0,0,.1)
}

.img-circle {
	height: 300px;
	border-radius: 50%;
}
.text-image {
	display: flex;
	justify-content: space-between;
}
.speak {
	background:#F6BD60;                         
	padding: 15px;                             
	border-radius: 4px;                        
	width: 600px

}

.passion {
	background:#FF595E;                         
	padding: 15px;                             
	border-radius: 4px;                        
	border:4px #46494C;
	width: 600px
}

.etranger{margin: 0px 100px}

.ballon{
        width:400px;}

}